# Server
PORT=5200
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://muhammedbilalhashmi94_db_user:114QlQ9BwRoM1wdg@cluster0.6rij7pu.mongodb.net/

# JWT
# JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_SECRET=7f3k9mXpQ2sLvNwRbYcTdAeHgUjZoKiPqFnDmCxWsSyErVtBuGhIlOa4e8r1z6
JWT_EXPIRES_IN=7d

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM=noreply@yourcompany.com
ADMIN_EMAIL=admin@yourcompany.com

# Frontend URL
FRONTEND_URL=http://localhost:3000
